# Core Orchestration and Configuration
python-decouple
pydantic
pyyaml # Loading .yaml files. 

# LLM Framework
ollama

# General Utilities
requests

# Chat Adapter
zulip

# Testing Framework 
pytest
pytest-mock

# Operating system abstraction
psutil       # System resource monitoring
platformdirs # System agnostic file paths